[Unit]
Description=Logging of SMA-X variable into SQL engdb
After=network-online.target postgresql-14.service
Requires=network-online.target postgresql-14.service

[Service]
ExecStart=/usr/local/bin/smaxLogger -c /usr/local/etc/smaxLogger/sma.cfg
StandardOutput=file:/var/log/smaxLogger.out
Type=notify
Restart=on-failure
RestartSec=60

[Install]
WantedBy=multi-user.target


